<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lines" data-view="Lines"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trends" data-view="List" data-unordered="true" data-title="Twitter Trends"></div>
    </li>
</div>
